{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}fresh life-提交订单{% endblock title %}
{% block topfiles%}
<script type="text/javascript" src="{% static 'js/place_order.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/place_order.css' %}">
{% endblock topfiles %}

{% block center %}
<div id="center">
    <div id="center-content">
        <h3 class="common_title">确认收货地址</h3>

        <div class="common_list_con d-flex">
            <dl>
                <dt>寄送到：</dt>
                {% for addr in addrs %}
                <dd><input type="radio" name="addr_id" value="{{ addr.id }}" {% if addr.is_default %}checked{% endif %}>{{ addr.addr }} （{{ addr.receiver }} 收） {{ addr.phone }}</dd>
                {% endfor %}
            </dl>
            <a href="{% url 'user:address' %}" class="edit_site">编辑收货地址</a>
        </div>

        <h3 class="common_title">支付方式</h3>
        <div class="common_list_con">
            <div class="pay_style_con d-flex">
                <input type="radio" name="pay_style" value="1" checked>
                <label class="cash">货到付款</label>
                <input type="radio" name="pay_style" value="2">
                <label class="weixin">微信支付</label>
                <input type="radio" name="pay_style" value="3">
                <label class="zhifubao">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" name="pay_style" value="4">
                <label class="bank">银行卡支付</label>
            </div>
        </div>

        <h3 class="common_title">商品列表</h3>

        <div class="common_list_con">
            <ul class="goods_list_th d-flex">
                <li class="col01">商品名称</li>
                <li class="col02">商品单位</li>
                <li class="col03">商品价格</li>
                <li class="col04">数量</li>
                <li class="col05">小计</li>
            </ul>
            {% for sku in skus %}
            <ul class="goods_list_td d-flex">
                <li class="col01">{{ forloop.counter }}</li>
                <li class="col02"><a href="{% url 'goods:detail' sku.id %}"><img src="{{ sku.image.url }}"></a></li>
                <li class="col03"><a href="{% url 'goods:detail' sku.id %}">{{ sku.name }}</a></li>
                <li class="col04">{{ sku.unite }}</li>
                <li class="col05">{{ sku.price }}</li>
                <li class="col06">{{ sku.count }}</li>
                <li class="col07">{{ sku.amount }}</li>
            </ul>
            {% endfor %}
        </div>

        <h3 class="common_title">总金额结算</h3>

        <div class="common_list_con">
            <div class="settle_con">
                <div class="total_goods_count">共<em>{{ total_count }}</em>件商品，总金额<b>{{ total_price }}元</b></div>
                <div class="transit">运费：<b>{{ transit_price }}元</b></div>
                <div class="total_pay">实付款：<b>{{ total_pay }}元</b></div>
            </div>
        </div>

        <div class="order_submit d-flex flex-row-reverse">
            {% csrf_token %}
            <a href="javascript:;" sku_ids="{{ sku_ids }}" id="order_btn">提交订单</a>
        </div>
    </div>
</div>
{% endblock center %}