{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}user-address{% endblock title %}
{% block topfiles %}
<script type="text/javascript" src="{% static 'js/user_center_order.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/user_center_order.css' %}">
{% endblock topfiles %}


{% block center %}
<div id="center">
    <div id="center-content" class="d-flex">
        {% csrf_token %}
        <div id="left">
            <div id="left-title">用户中心</div>
            <a href="{% url 'user:user' %}"><div class="left-slide"><span>&lt</span> 个人信息</div></a>
            <a href="{% url 'user:order' 1 %}"><div class="left-slide"  id="active"><span>&lt</span> 全部订单</div></a>
            <a href="{% url 'user:address' %}"><div class="left-slide"><span>&lt</span> 收货地址</div></a>
        </div>
        <div id="right">
            <div class="right-title">全部订单</div>
            {% for order in order_page %}
            <ul class="order_list_title d-flex">
                <li>{{ order.create_time }}</li>
                <li>订单号：{{ order.order_id }}</li>
                <li class="stress">{{ order.status_name }}</li>
            </ul>
            <table class="order_list_table">
                <tbody>
                <tr>
                    <td class="td1">
                        {% for order_sku in order.order_skus %}
                        <ul class="order_goods_list d-flex">
                            <li class="col01"><a href="{% url 'goods:detail' order_sku.sku.id %}"><img src="{{ order_sku.sku.image.url }}"></a></li>
                            <li class="col02">
                                <a href="{% url 'goods:detail' order_sku.sku.id %}">{{ order_sku.sku.name }}</a>
                                <em>{{ order_sku.sku.price }}/{{ order_sku.sku.unite }}</em>
                            </li>
                            <li class="col03">{{ order_sku.count }}</li>
                            <li class="col04">{{ order_sku.amount }}元</li>
                        </ul>
                        {% endfor %}
                    </td>
                    <td class="td2">{{ order.total_price_with_transit }}(含运费:{{ order.transit_price }})元</td>
                    <td class="td2">{{ order.status_name }}</td>
                    <td class="td2"><a href="javascript:;" order_id="{{ order.order_id }}" status="{{ order.order_status }}" class="btn_pay">去付款</a></td>
                </tr>
                </tbody>
            </table>
            {% endfor %}
              <div class="pagenation">
                {% if order_page.has_previous %}
                <a href="{% url 'user:order' order_page.previous_page_number %}">&lt;</a>
                {% endif %}
                {% for pindex in pages %}
                    {% if pindex == order_page.number  %}
                <a href="{% url 'user:order' pindex %}" class="active">{{ pindex }}</a>
                    {% else %}
                <a href="{% url 'user:order' pindex %}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if order_page.has_next %}
                <a href="{% url 'user:order' order_page.next_page_number %}">&gt;</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock center %}

